body {
    background: linear-gradient(70deg, #df7af3, #f7f7f7);
    color: #514B64;
    min-height: 100vh;
  }
  
  code {
    background: #fff;
    padding: 0.2rem;
    border-radius: 0.2rem;
    margin: 0 0.3rem;
  }

  .card {
    background: linear-gradient(70deg, rgb(255, 255, 255), rgb(137, 255, 255));
    padding: 5rem;
    margin: 5rem;
    border-radius: 5rem;

  }

  .noxLogo {
    margin: 5rem;
    border-radius: 8px;
  }

  .noxNav {
    border-radius: 10px;
    height: 8%;
    width: 8%;
  }
  
  .nav-item {
    padding: 2rem;
  }
  
  .navColor {
    color: grey;
  }
  
  .h1 {
    color: rgb(255, 255, 255);
  }
  
  .profileLogo {
    height: 50%;
    width: 50%;
    border-radius: 35%;
  }