body {
    background: linear-gradient(70deg, #df7af3, #f7f7f7);
    color: #514B64;
    min-height: 200vh;

  }

  .card {
    background: linear-gradient(70deg, rgb(255, 255, 255), rgb(137, 255, 255));
    padding: 5rem;
    margin: 3rem;
    border-radius: 1rem;
    font-family: Optima, Sans-serif;
    box-shadow: 5px 5px 40px blue;
    
  }

  .navbar {
    background: linear-gradient(70deg, rgb(137, 255, 255) , rgb(255, 255, 255));
    height: 55px;
  }

  .dropDown {
    margin: 80%;
    height: 70px;
  }
  

  .noxLogo {
    margin: 25rem;
    height: 30%;
    width: 30%;
  }

  .noxNav {
    height: 25%;
    width: 25%;
  }
  
  .nav-item {
    padding: 2rem;
  }
  
  .h1 {
    color: rgb(255, 255, 255);
  }
  
  .profileLogo {
    height: 50%;
    width: 50%;
    border-radius: 35%;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 52px;
    width: 100%;
  }

  .logout {
    font-size: 15px;
    
  }
  .login {
    font-size: 15px;
    
  }
  .signup {
    font-size: 15px;
    
  }
  .chat {
    font-size: 15px;
    
  }
  .sidenav {
    height: 90%;
    width: 170px;
    position: fixed;
    top: 60px;
    left: .1%;
    padding-top: 50px;
    background: rgb(255, 255, 255);
    border-style: solid;
  }
  

  
  
  

