body {
    background: linear-gradient(70deg, #df7af3, #f7f7f7);
    color: #514B64;
    min-height: 100vh;
  }

  .card {
    background: linear-gradient(70deg, rgb(255, 255, 255), rgb(137, 255, 255));
    padding: 5rem;
    margin: 3rem;
    border-radius: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 5px 5px 40px blue;
    
  }

  .noxLogo {
    display: block;
    margin: 10rem;
    width: 30%;
    box-shadow: 5px 5px 40px rgb(0, 0, 0);

  }

  .noxNav {
    border-radius: 10px;
    height: 25%;
    width: 25%;
  }
  
  .nav-item {
    padding: 2rem;
  }
  
  .h1 {
    color: rgb(255, 255, 255);
  }
  
  .profileLogo {
    height: 50%;
    width: 50%;
    border-radius: 35%;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    /* overflow: hidden; */
  }

  .logout {
    font-size: 15px;
    
  }
  .login {
    font-size: 15px;
    
  }
  .signup {
    font-size: 15px;
    
  }
  .chat {
    font-size: 15px;
    
  }
  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 100px;
    background: rgb(143, 204, 240);
  }

  
  

